/Java/JavaTemperaturas/target/
/Java/AppDistributiva/target/
/Java/StockMedio/target/
/Java/ConvDollarEuro/target/
/Java/ComicaoVenda/target/
/Java/TodosRelacionamentos/target/
/Java/ListrosDsit/target/
/Java/OrdemDecrescente/target/
/Java/MediaNotasAlunos/target/
/Java/VerificarCodigo/target/
/Java/VerificarCodigoProf/target/
/Java/LadosTriangulo/target/
/Java/ValoresDigitados/target/
/Java/ExVetores/target/
/Java/MatrizEx1/target/
/Java/RentCarLda/target/
