/Java/JavaTemperaturas/target/
/Java/AppDistributiva/target/
/Java/StockMedio/target/
/Java/ConvDollarEuro/target/
/Java/ComicaoVenda/target/
/Java/TodosRelacionamentos/target/
/Java/ListrosDsit/target/
/Java/OrdemDecrescente/target/
/Java/MediaNotasAlunos/target/
/Java/VerificarCodigo/target/
